{{>header}}
<img class="profile" src="/img/profile.jpg">
<p class="intro"><em>Hello there i am Dhiraj kaushik,computer science final year student.I am learning web developoment and this is my first node application.I love web development and i will enhance my skillset continuously making myself a better web developer.Thank you</em></p>
{{>footer}}