{{>header}}
<div class="form">
<form>
	<input placeholder="Location">
	<button class="btn btn-md btn-outline-dark">search</button>
</form>
<img class="weatherIconInvisible">
<div>
<p class="infoElement" id="messageOne"></p>
<p class="infoElement" id="messageTwo"></p>
<p class="infoElement" id="messageThree"></p>
<p class="infoElement" id="messageFour"></p>
</div>
</div>
{{>footer}}