
<!-- javascript -->
	</div>
	<footer class="mynavbar navItemContainer">
		<img class="font-awesome" src="/img/font-awesome/fb.svg">
		<img class="font-awesome" src="/img/font-awesome/insta.svg">
		<img class="font-awesome" src="/img/font-awesome/twitter.svg">
		<p>copyright &copy;2020,created by Dhiraj kaushik,India</p>
	</footer>
	<script type="text/javascript" src="/js/app.js"></script>
</body>
</html>